{% extends 'main.html' %} 
{% load static %}
{% block content %} 
<link rel="stylesheet" href="{% static 'css/login_logout.css' %}" />
{% if messages %}
<ul class="messages">
  {% for message in messages %}
  <li>{{ message }}</li>
  {% endfor %}
</ul>
{% endif %} {% if page == 'login' %} {% comment %}
<div class="form-groups">
  <form method="POST">
    {% csrf_token %}

    <div class="form-group">
      <label>Username:</label>
      <input type="text" name="username" placeholder="Enter Username" />
    </div>
    <div class="form-group">
      <label>Password:</label>
      <input type="password" name="password" placeholder="Enter Password" />
    </div>

    <input type="submit" value="Login" />
  </form>
  <p>havent signed up yet?</p>
  <a href="{% url 'signup' %}">Sign Up</a>
</div>
{% endcomment %}
<div class="form">
  <div class="sub_header">
    <h3>Login</h3>
  </div>
  <form method="POST">
    {% csrf_token %}
    <div class="forms_group">
      <div class="form_group">
        <label for="username">Username</label>
      </div>
      <div class="input_group">
        <input type="text" name="username" id="username" />
      </div>
    </div>
    <div class="forms_group">
      <div class="form_group">
        <label for="password">Password</label>
      </div>
      <div class="input_group">
        <input type="password" name="password" id="password" />
      </div>
    </div>
    <div class="button_group">
      <input type="submit" value="Login" />
    </div>
    <div class="fg_btn">
      <p>havent signed up yet?</p>
      <a href="{% url 'signup' %}">Sign Up</a>
    </div>
  </form>
</div>

{% else %} {% comment %}
<div class="form-groups">
  <form method="POST">
    {% csrf_token %} {{form.as_p}}

    <input type="submit" value="Sign Up" />
  </form>
  <p>already signed up yet?</p>
  <a href="{% url 'login' %}">login</a>
</div>
{% endcomment %}
<div class="form">
  <div class="sub_header">
    <h3>Create Account</h3>
  </div>
  <form>
    {% for field in form %}
    <div class="forms_group">
      <div class="form_group">
        <label for="username">{{field.label_tag}}</label>
      </div>
      <div class="input_group">{{field}}</div>
    </div>
    {% endfor %}
    <div class="button_group">
      <input type="submit" value="Sign up" />
    </div>
    <div class="sign_in">
      <p>Already have an account <a href="{% url 'login' %}">login</a></p>
    </div>
  </form>
</div>
{% endif %} {% endblock content %}
